$small: 90px;
$medium: 140px;
$large: 215px;
$x-large: 320px;
$xx-large: 440px;

// $sizes: "$small", "medium", "large", "x-large", "xx-large";
$sizes: $small, $medium, $large, $x-large, $xx-large;

.App {
    box-sizing: border-box;
}

*,
*::before,
*::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.App-logo {
    background: transparent;
    border: 3px solid #61dafb;
    border-radius: 5px;
    position: absolute;

    // pointer-events: none;

    @media (min-width: 480px) {
        border: 4px solid #61dafb;
    }

    @media (min-width: 768px) {
        border: 6px solid #61dafb;
    }

    @media (min-width: 1024px) {
        border: 8px solid #61dafb;
    }

    @media (min-width: 1280px) {
        border: 10px solid #61dafb;
    }

    &.logo1 {
        width: nth($sizes, 4);
        height: nth($sizes, 4);
        border-radius: 50%;
        animation: App-logo-spin infinite 20s 2s ease;
        border-top-color: #fff;
        border-bottom-color: #fff;
        opacity: .4;
    }

    &.logo2 {
        width: $large;
        height: $large;
        animation: App-logo-reverse-spin infinite 20s 2s ease-in-out;
        opacity: .3;
    }

    &.logo3 {
        width: $medium;
        height: $medium;
        animation: App-logo-spin infinite 20s 2s ease-out;
        opacity: .2;
    }

    &.logo4 {
        width: $small;
        height: $small;
        animation: App-logo-reverse-spin infinite 20s 2s ease-in;
        opacity: .1;
    }
}

.App-Home {
    background-color: #282c34;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: calc(10px + 2vmin);
    color: white;

    h4 {
        color: #61dafb;
        text-shadow: 1px 1px #2b6474;
        font-weight: 100;
        font-size: 1.7rem;

        @media (max-width: 768px) {
            font-size: 1.6rem;
        }
    }

    p {
        font-size: .7rem;
        text-transform: uppercase;
        letter-spacing: .45rem;
        font-weight: 600;
    }

    footer {
        position: absolute;
        bottom: .1rem;
        right: .1rem;

        a {
            font-size: .5rem;
            color: #61dafb;
        }
    }
}

@keyframes App-logo-spin {
    from {
        transform: rotate(0deg);
    }

    to {
        transform: rotate(360deg);
    }
}

@keyframes App-logo-reverse-spin {
    from {
        transform: rotate(0deg);
    }

    to {
        transform: rotate(-360deg);
    }
}
