.App {
    text-align: center;
    box-sizing: border-box;
}

*,
*::before,
*::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.App-logo {
    background: transparent;
    border: 10px solid #61dafb;
    border-radius: 5px;
    position: absolute;
    pointer-events: none;

    // opacity: .1;

    &.logo1 {
        width: 320px;
        height: 320px;
        animation: App-logo-spin infinite 20s ease;
        opacity: .4;
    }

    &.logo2 {
        width: 215px;
        height: 215px;
        animation: App-logo-reverse-spin infinite 20s ease-in-out;
        opacity: .3;
    }

    &.logo3 {
        width: 140px;
        height: 140px;
        animation: App-logo-spin infinite 20s ease-out;
        opacity: .2;
    }

    &.logo4 {
        width: 90px;
        height: 90px;
        animation: App-logo-reverse-spin infinite 20s ease-in;
        opacity: .1;
    }
}

.App-header {
    background-color: #282c34;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: calc(10px + 2vmin);
    color: white;

    footer {
        position: absolute;
        bottom: .1rem;
        right: .1rem;

        a {
            font-size: .5rem;
            color: #61dafb;
        }
    }
}

.App-header h4 {
    color: #61dafb;
    text-shadow: 1px 1px #2b6474;
}

.App-header p {
    font-size: .8rem;
    letter-spacing: .25rem;
    text-transform: uppercase;
    color: grey;
    text-shadow: 0.5px 0.5px #255968;
}

.App-link {
    font-size: .8rem;
    color: #61dafb;
}

@keyframes App-logo-spin {
    from {
        transform: rotate(0deg);
    }

    to {
        transform: rotate(360deg);
    }
}

@keyframes App-logo-reverse-spin {
    from {
        transform: rotate(0deg);
    }

    to {
        transform: rotate(-360deg);
    }
}
